\documentclass{article}

\usepackage{textcomp}
\usepackage[dvipdfm]{hyperref}
\usepackage[T1]{fontenc}

\begin{document}

\title{<%= config.project %> v<%= config.version %>}

\maketitle

\tableofcontents

<%= for node <- module_nodes, do: module_node(node) %>

\end{document}
